<!-- Achievements Section -->
<div id="achievements" class="section dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="achievement-box"> <span class="count">1210</span>
          <h4>Happy users</h4>
        </div>
      </div>

      <div class="col-md-3 col-sm-3">
        <div class="achievement-box"> <span class="count">1,520</span>
          <h4>Rides Daily</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="achievement-box"> <span class="count">2,00,000</span>
          <h4>Km Travelled</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="achievement-box"> <span class="count">1490</span>
          <h4>Number of cars</h4>
        </div>
      </div>
    </div>
  </div>
</div>
