<!-- Contact Section -->
<div id="contact-section" class="text-center">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h3>Drop us a message</h3>
      <form form method="POST" action="/sendMessage">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" name = "name" class="form-control" placeholder="Name" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" name = "email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" class="form-control" rows="4" placeholder="Message" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <button type="submit" class="btn btn-default">Send Message</button>
      </form>
    </div>
  </div>
</div>
</div>
