<!-- Header -->
<header class="text-center" name="home">
  <div id="signup-section" class="intro-text" >
    <h1>Welcome to <strong>Chattel</strong></h1>
    <p>We are a full-service car rental agency</p>
    <!---enter -->

  <div class="container">
  <!-- Trigger the modal with a button -->

  <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#signupModal">Sign Up</button>
  <!-- Modal -->
  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Sign Up</h3>
      </div>
      <div class="modal-body">
        <form form method="POST" action="/signup">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" name = "name" class="form-control"  required="required" placeholder="Name">
          </div>
		 <div class="form-group">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <input type="email" name = "email" class="form-control"   required="required" placeholder="Email">
          </div>
		 <div class="form-group">
            <label for="recipient-name" class="col-form-label">Password:</label>
            <input type="password" name = "password" class="form-control"  required="required" placeholder="Password">
          </div>
    <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-default">Sign Up</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
    <!---enter  ENDs -->

  </div>
</header>
</div>
