<!-- Portfolio Section -->
<div id="works-section">
  <div class="container"> <!-- Container -->
    <div class="section-title text-center center">
      <h2>Offers for YOU!!!</h2>
      <hr id = "hroffers">
      <div class="clearfix"></div>
      <p>Once you buy and you won't stop buying', such is our impression! We keep on bringing new cashback offers.</p>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li><a href="#" data-filter="*" class="active">All</a></li>
            <li><a href="#" data-filter=".web">Rental Cars</a></li>
            <li><a href="#" data-filter=".app">Rent Out your Car</a></li>
            <li><a href="#" data-filter=".branding">Share Car</a></li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/01.jpg" rel="prettyPhoto">
              <div class="hover-text">
                <h4>Free ride</h4>
                <small>Enjoy!!</small>
                <div class="clearfix"></div>
              </div>
              <img src="https://dl.dropboxusercontent.com/s/e5c0pru6iy0w0f0/offer1.png?dl=0" class="img-responsive" alt="www Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 app">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/02.jpg" rel="prettyPhoto">
              <div class="hover-text">
                <h4>Free ride</h4>
                <small>Enjoy!!</small>
                <div class="clearfix"></div>
              </div>
              <img src="https://dl.dropboxusercontent.com/s/eb1jhkin196cse1/offer5.jpg?dl=0" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/03.jpg" rel="prettyPhoto">
              <div class="hover-text">
                <h4>Luxory Ride</h4>
                <small>Enjoy!!</small>
                <div class="clearfix"></div>
              </div>
              <img src="https://dl.dropboxusercontent.com/s/8im4157a0ev566b/offer3.jpg?dl=0" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/04.jpg" rel="prettyPhoto">
              <div class="hover-text">
                <h4>Free ride</h4>
                <small>Enjoy!!</small>
                <div class="clearfix"></div>
              </div>
              <img src="https://dl.dropboxusercontent.com/s/eb1jhkin196cse1/offer5.jpg?dl=0" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 app">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/05.jpg" rel="prettyPhoto">
              <div class="hover-text">
                <h4>Free ride</h4>
                <small>Enjoy!!</small>
                <div class="clearfix"></div>
              </div>
              <img src="https://dl.dropboxusercontent.com/s/96fy5o5ufrubtvf/offer2.jpg?dl=0" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 branding">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/06.jpg" rel="prettyPhoto">
              <div class="hover-text">
                <h4>Free ride</h4>
                <small>Enjoy!!</small>
                <div class="clearfix"></div>
              </div>
              <img src="https://dl.dropboxusercontent.com/s/e5c0pru6iy0w0f0/offer1.png?dl=0" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 branding app">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/07.jpg" rel="prettyPhoto">
              <div class="hover-text">
                <h4>Free ride</h4>
                <small>Enjoy!!</small>
                <div class="clearfix"></div>
              </div>
              <img src="https://dl.dropboxusercontent.com/s/8im4157a0ev566b/offer3.jpg?dl=0" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/08.jpg" rel="prettyPhoto">
              <div class="hover-text">
                <h4>Free ride</h4>
                <small>Enjoy!!</small>
                <div class="clearfix"></div>
              </div>
              <img src="https://dl.dropboxusercontent.com/s/e5c0pru6iy0w0f0/offer1.png?dl=0" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
