<!-- Services Section -->
<div id="services-section" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Our Services</h2>
      <hr>
      <div class="clearfix"></div>
      <p>Great offers for cheap car rental, daily, weekly long term rentals.Book now at the lowest possible rates and see how much you can save!</p>
    </div>
    <div class="space"></div>
    <div class="row">
      <a href="/rental-cars"><div class="col-md-3 col-sm-6 service"> <i class="fa fa-cab"></i>
        <h4>Rental Cars</h4>
        <p>Great offers for cheap car rental, daily, weekly long term rentals.Book now at the lowest possible rates and see how much you can save!</p>
      </div></a>
      <a href="#"><div class="col-md-3 col-sm-6 service"> <i class="fa fa-car"></i>
        <h4>Rent Out your Car</h4>
        <p>Great offers for cheap car rental, daily, weekly long term rentals.Book now at the lowest possible rates and see how much you can earn!</p>
      </div></a>
      <a href="#"><div class="col-md-3 col-sm-6 service"> <i class="fa fa-users"></i>
        <h4>Share Car for a Long Drive</h4>
        <p>Great offers for cheap car rental, daily, weekly long term rentals.Book now at the lowest possible rates and see how much you can save!</p>
      </div></a>
      <a href="#"><div class="col-md-3 col-sm-6 service"> <i class="fa fa-user"></i>
        <h4>Hire a Driver</h4>
        <p>Great offers for cheap car rental, daily, weekly long term rentals.Book now at the lowest possible rates and see how much you can save!</p>
      </div></a>
    </div>
  </div>
</div>
